[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
torch = "*"
torchvision = "*"
torchaudio = "*"
cshogi = "*"
numpy = "*"
scipy = "*"
matplotlib = "*"
scikit-learn = "*"
nvidia-cudnn-cu11 = "*"

[dev-packages]

[requires]
python_version = "3.8"
